.body-not-logged {
    background-color: #6daae5;
}

.container-not-logged {
               color: white;
          text-align: center;
             padding: 25px 10px 25px 10px;
}

.link {
    text-decoration: underline;
              color: #4b84b2;
}