<?xml version='1.0' encoding='utf-8'?>
<widget id="com.supporter.supporterapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Supporter</name>
    <description>
        Supporter HTML5 Mobile App
    </description>
    <author email="gal@betteranapp.com" href="http://www.betteranapp.com">
        Gal Dubitski
    </author>
    
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xffffffff"/>
    <preference name="KeepRunning" value="false"/>
    
    <content src="index.html" />
    <access origin="*" />
</widget>
