<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.supporter.supporterapp" version="0.0.2">
    <name>SupporterXMobile</name>
    <description>
        Supporter HTML5 Mobile App
    </description>
    <author email="admin@supporter.com" href="http://www.supporter.com">
        Gal Dubitski, Adrian Lozano, Erik Torsner
    </author>
    
    <preference name="Fullscreen" value="false"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="BackgroundColor" value="0xffffffff"/>
    <preference name="DisallowOverscroll" value="false"/>

    <!-- Android specific preferences -->
    <preference name="KeepRunning" value="false"/>
    
    <content src="index.html#menuLogClear"/>
    <access origin="*"/>

    <!-- Default application icon -->
    <icon src="app/img/launcher.png"/>

    <!-- Default icon should work, but cordova doesn't overwrite the default on all densities -->
    <icon src="app/img/launcher.png" platform="android" density="ldpi"/>
    <icon src="app/img/launcher.png" platform="android" density="mdpi"/>
    <icon src="app/img/launcher.png" platform="android" density="hdpi"/>
    <icon src="app/img/launcher.png" platform="android" density="xhdpi"/>
</widget>
