/**
 * Supporter Fonts
 **/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.body-not-logged {
  background-color: #6daae5;
}
#container {
  color: white;
  padding: 25px 10px 25px 10px;
}
.link {
  text-decoration: underline;
  color: #4b84b2;
}
.club-disclaimer {
  color: white;
}
.pick-club {
  color: white;
}
.pick-club .search input {
  background: url("../img/search.png");
  background-repeat: no-repeat;
  padding-left: 45px;
}
.pick-club .clubs-list {
  color: black;
  background-color: white;
  margin-left: 1em;
  margin-right: 1em;
}
.pick-club .clubs-list .club {
  border-bottom: 5px;
  border-bottom-color: gray;
  border: solid;
}
.pick-club .clubs-list .club .left {
  text-align: left;
}
.pick-club .clubs-list .club .right {
  text-align: right;
}
