/* Foundation overrides */
body,
p,
a,
button,
.button {
  font-family: 'RobotoThin', sans-serif !important;
  font-weight: 800;
  font-size: 1.2rem !important;
}
p {
  line-height: 1.2rem !important;
}
button,
.button,
button:hover {
  margin-bottom: 1.2rem;
}
.secondary {
  color: #45b0e6 !important;
}
.secondary:hover {
  background-color: #007399 !important;
}
.inline-input {
  display: inline-block !important;
}
input,
select {
  background-color: transparent!important;
  border: 1px solid #e6e6e6 !important;
  color: #e6e6e6 !important;
}
input.tight,
select.tight {
  margin: 0 0 0.5rem 0!important;
}
input.disabled,
select.disabled {
  border: 1px solid rgba(230, 230, 230, 0.6) !important;
  color: rgba(230, 230, 230, 0.6) !important;
}
input:focus,
select:focus {
  color: #e6e6e6;
}
::-webkit-input-placeholder {
  color: #e6e6e6;
}
.disabled::-webkit-input-placeholder {
  color: rgba(230, 230, 230, 0.6);
}
:-moz-placeholder {
  color: #e6e6e6;
}
::-moz-placeholder {
  color: #e6e6e6;
}
:-ms-input-placeholder {
  color: #e6e6e6;
}
div.switch input:checked + label {
  background: #15a63f;
  margin: 0!important;
}
div.switch input + label {
  margin: 0!important;
}
div.switch label {
  display: inline-block;
}
/**
 * Supporter Fonts
 **/
@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-Regular.ttf") !important;
  font-weight: normal!important;
  font-style: normal!important;
}
@font-face {
  font-family: 'RobotoThin' !important;
  src: url("../fonts/Roboto-Thin.ttf") !important;
  font-weight: normal!important;
  font-style: normal!important;
}
.large {
  font-size: 1.2rem !important;
  line-height: 1.4rem !important;
}
.medium {
  font-size: 18px !important;
  line-height: 20px !important;
}
.small {
  font-size: 15px !important;
  line-height: 18px !important;
}
.tiny {
  font-size: 12px !important;
  line-height: 12px !important;
}
.body-not-logged {
  background-color: #45b0e6;
  text-shadow: 1px 1px 1px #007399;
}
#container {
  color: #e6e6e6;
  padding: 30px 15px 15px 15px;
  text-align: center;
}
.link {
  text-decoration: underline;
  display: inline-block;
  color: #007399;
}
.link-inline {
  color: #e6e6e6;
}
.link-bottom-page {
  margin-top: 15px;
}
.link:visited {
  color: #007399 !important;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 49%;
}
.one-third-width {
  width: 31%!important;
}
.logo {
  text-align: center;
  margin: 15px auto;
  height: 130px;
  width: 130px;
  background: url('../img/logo.png') center center no-repeat;
  background-size: 130px 130px;
}
.logo-clear {
  margin: 60px auto 120px auto;
}
.header {
  padding: 0px 0px 40px 0px;
}
.club-disclaimer {
  text-align: left;
}
.club-disclaimer .disclaimer {
  font-size: 15px !important;
}
.create-new-account .intro {
  margin: 35px 35px 45px 35px ;
}
.know-more {
  text-align: left;
}
.know-more .disclaimer {
  font-size: 15px !important;
}
.menu-log-clear .intro {
  margin: 35px 20px;
}
.pick-club-confirm .link {
  color: #e6e6e6;
}
.pick-club-confirm .link:visited {
  color: #e6e6e6 !important;
}
.pick-club-confirm .club {
  text-align: center;
  margin: 20px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pick-club-confirm .disclaimer {
  text-align: left;
}
.pick-club {
  text-align: left;
}
.pick-club input,
.pick-club input:focus {
  background: url("../img/search.png");
  background-repeat: no-repeat;
  padding-left: 45px;
  background-size: 35px 35px;
}
.pick-club .intro {
  text-align: center;
}
.pick-club .team-logo-small {
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  float: right;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position-y: 3px;
}
.pick-club .team-name {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.pick-club .team-city {
  margin: 0;
  padding: 0;
  line-height: 5px;
  font-size: 10px;
}
.pick-club li {
  list-style: none;
  line-height: 38px;
  padding-left: 10px;
  border-bottom: 1px solid black;
}
.pick-club li:last-child {
  border-bottom: none;
}
.pick-club ul {
  color: black;
  text-shadow: none;
  font-family: 'Roboto', sans-serif !important;
  margin-left: 0px;
  background: white;
}
.select-operators li {
  list-style: none;
  line-height: 15px;
  padding: 1px 0 1px 10px;
  text-align: left;
}
.select-operators .operator {
  vertical-align: middle;
  width: 60%;
  padding: 0 0 0 5px;
  display: inline-block;
}
.select-operators .switch {
  width: 30%;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
}
.select-operators ul {
  margin: 25px 0 50px 0;
}
.select-operators .list-header {
  text-align: right;
  margin: 0 8px 5px 0;
}
.operators-single-login .accordion {
  margin: 0 0 20px 0;
}
.operators-single-login .accordion dd a.heading {
  background-color: #45b0e6 !important;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
}
.operators-single-login .accordion dd a.heading img {
  width: 140px;
  margin-right: 60px;
}
.operators-single-login .accordion dd:last-child a.heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.operators-single-login .accordion .secondary {
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
}
.operators-single-login .accordion .button {
  margin-bottom: 0;
}
.operators-single-login .content {
  background-color: #007399 !important;
}
.about {
  padding-top: 25%;
}
.about p {
  font-size: 15px !important;
}
.unified-registration {
  text-align: left;
  margin-bottom: 20px;
}
