body {
	font-family: 'Roboto', sans-serif;
    text-align: center;
}

.body-not-logged {
	background-color: #6daae5;
}

.container-not-logged {
	color: white;
	padding: 25px 10px 25px 10px;
}

.link {
	text-decoration: underline;
	color: #4b84b2;
}


/* KNOW MORE */

.know-more {
    color:white;
    text-align: center;
}