<div class="about keep-screen-margin">

    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis ipsum ut purus posuere hendrerit. Nulla non sem nunc. Nullam nisi arcu, gravida at pellentesque vel, tempor id enim. Cras eget lorem et mi lacinia rutrum. Phasellus accumsan metus sit amet urna malesuada, vel placerat augue.Sed posuere blandit. Nulla non sem nunc. Nullam nisi arcu, gravida at pellentesque vel, tempor id enim. Praesent tincidunt condimentum lorem. Sed posuere blandit. Praesent tincidunt condimentum lorem.
    </p>

</div>