<div class="accounts-activation keep-screen-margin">

    <div class="header small">
	    {{i18n.acctsactivation}}<br>
        {{i18n.acctsactivation_txt}}
        
    </div>
    
    <div id="operatorsList">
    	
    </div>
    
    <div class="footer small">
	    {{i18n.acceptbetterms_txt}}
    </div>
    
	
    <a id="activateButton" href="#unifiedRegister" class="medium success button full-width">{{i18n.Ok}}</a><br/>
    <a href="#mainMenuLogged" class="medium secondary full-width button">Later</a>
    
</div>