<div class="all-filter-by-leage">
    <ul class="options">
        <li class="item" id="userProfile"><div class="heading">Allsvenskan</div><div class="count">(2)</div></li>
        <li class="item" id="changeClub"><div class="heading">Supperetan</div><div class="count">(8)</div></li>
        <li class="item" id="operatorsList"><div class="heading">Division 1N</div><div class="count">(2)</div></li>
        <li class="item" id="signOut"><div class="heading">Division 3MN</div><div class="count">(4)</div></li>
    </ul>
</div>