<div class="all-filter-by-country">
    <ul class="options">
        <li class="item" id="userProfile"><div class="heading">Italy</div><div class="count">(1)</div></li>
        <li class="item" id="changeClub"><div class="heading">Ireland</div><div class="count">(3)</div></li>
        <li class="item" id="userFavorites"><div class="heading">Malaysia</div><div class="count">(4)</div></li>
        <li class="item" id="operatorsList"><div class="heading">Serbia</div><div class="count">(1)</div></li>
        <li class="item" id="signOut"><div class="heading">Sweden</div><div class="count">(22)</div></li>
    </ul>
</div>