<div id="betProcessModal" class="bet-open-process">
	
	<div class="title">
		<a href="#" class="close small button">Close</a>
		<span class="text medium">Betslip</span>
	</div>
	
	<ul class="tabs" data-tab>
	  <li class="tab-title small active"><a href="#">Single</a></li>
	  <li class="tab-title small"><a href="#">Combination</a></li>
	</ul>
	<div class="tabs-content">
	  <div class="content active" id="single">
	    <p>First panel content goes here...</p>
	  </div>
	  <div class="content" id="combination">
	    <p>Second panel</p>
	  </div>
	</div>
	

</div>

<div class="modal-bg">
</div>