<div class="change-user-password keep-screen-margin">

	<div class="text small">
		Please provide your Supporter password and your new password
	</div>

	<input id="oldPaswd" type="password" placeholder="Current Password" />
	<input id="newPaswd" type="password" placeholder="New Password" />
	<input id="newPaswdConfirm" type="password" placeholder="Confirm New Password" />

	<a id="sendBtn" href="#mainMenuLogged" class="medium success button full-width">Send</a>
	<a id="cancelBtn" href="#mainMenuLogged" class="medium secondary button full-width">Close</a>

</div>