<div class="change-club">

    <p class="intro small"> Find the club you wish to support and start donating to the club.</p>

    <input type="text" class="js-search" placeholder="Search" />

    <ul style="display: none" class="js-results">
        <li data-id="ifk">
            <div class="team-name">IFK Göteborg
            <div class="team-city">Fotboll, Göteborg</div></div>
            <div style="background-image: url('img/clubs/ifk.jpg');" class="team-logo-small"></div>
        </li>
        <li data-id="hammarby">
            <div class="team-name">Hammarby IF
            <div class="team-city">Fotboll, Stockholm</div></div>
            <div style="background-image: url('img/clubs/hammarby.png');" class="team-logo-small"></div>
        </li>
        <li data-id="malmo">
            <div class="team-name">Malmö FF
            <div class="team-city">Fotboll, Malmö</div></div>
            <div  style="background-image: url('img/clubs/malmo.png');" class="team-logo-small"></div>
        </li>
    </ul>

</div>