<div class="change-user-email keep-screen-margin">

	<div class="text small">
		Please provide your email registered with Supporter and your new email you wish to register
	</div>

	<input id="registeredEmail" type="text" placeholder="Registered Email" />
	<input id="newEmail" type="text" placeholder="New Email" />

	<a id="sendBtn" href="#userSettings" class="medium success button full-width">Send</a>
	<a id="cancelBtn" href="#userSettings" class="medium secondary button full-width">Close</a>

</div>