<div class="club-disclaimer keep-screen-margin">
    <p class="disclaimer">
    How it works<br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis ipsum ut purus posuere hendrerit. Nulla non sem nunc. Nullam nisi arcu, gravida at pellentesque vel, tempor id enim. Praesent tincidunt condimentum lorem. Sed posuere blandit.<p>

    <p class="disclaimer">
    Your money, your team<br>
    Vestibulum lectus augue, congue at felis vel, tempor gravida urna. Nam vel scelerisque odio. Pellentesque quis ullamcorper enim, porta tempor magna.
    </p>
    <p class="disclaimer">
    Why Supporter.se<br>
    Cras eget lorem et mi lacinia rutrum. Phasellus accumsan metus sit amet urna malesuada, vel placerat augue.
    </p>

    <a href="javascript:window.history.back();" class="medium success button full-width">OK</a>
</div>