<div class="create-new-account-confirmation keep-screen-margin">

    <div class="large title">Congratulations</div>
    
    <p class="text large">
    	You are now a supporter of {{name}}.
    	<br/><br/>
    	In order to contribute, you must now create at least one betting account (or connect to those you already have).
		<br/><br/>
    	Do you want to do it now? <br/> (Don't worry, it's easy and fast.)
    </p>
    
    <a id="createButton" href="#accountsActivation" class="medium success button full-width">Sure, let's do it</a><br>
    <a href="#mainMenuLogged" class="medium secondary full-width button">Later, thanks</a><br>
    
</div>