<div class="create-new-account-confirmation keep-screen-margin">

    <div class="large title">{{i18n.Congratulations}}</div>
    
    <p class="text large">
    	{{i18n.supporterof_txt}} {{name}}.
    	<br/><br/>
    	{{i18n.contribute_txt}}
		<br/><br/>
    	{{i18n.doyouwanttodoitnow_html}}
    </p>
    
    <a id="createButton" href="#accountsActivation" class="medium success button full-width">{{i18n.Sureletsdoit}}</a><br>
    <a href="#mainMenuLogged" class="medium secondary full-width button">{{i18n.Laterthanks}}</a><br>
    
</div>