<div class="delete-user-account-confirm">
	<div class="account_details small">
		<div class="left">
			Account
		</div>
		<div class="right">
			sergio@betteranapp.com
		</div>
	</div>
	<div class="text small">
		<p>Are you sure you want to delete your account?</p>
		<p>You will only erase your supporter account.
			The accounts you have registered with operators will still remain active.
		</p>
	</div>
	
	<a href="#deleteUserAccountDone" class="medium success button full-width">Delete</a>
	<a href="#userProfile" class="medium secondary full-width button">Cancel</a><br>
</div>