<div class="event-details keep-screen-margin">

    <p class="small">Some text here</p>

    <dl class="accordion" >
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header">Match Winner</a>
        <table>
        <tr>
            <th>&nbsp;</th>
            <th>1</th>
            <th>x</th>
            <th>2</th>
        </tr>
        <tr>
            <td class="operator">Betsafe</td>
            <td class="numeric">3.40</td>
            <td class="numeric">3.40</td>
            <td class="numeric">1.30</td>
        </tr>
        <tr>
            <td class="operator">Unibet</td>
            <td class="numeric">3.40</td>
            <td class="numeric">3.40</td>
            <td class="numeric">1.30</td>
        </tr>
        <tr>
            <td class="operator">Nordicbet</td>
            <td class="numeric">3.40</td>
            <td class="numeric">3.40</td>
            <td class="numeric">1.30</td>
        </tr>
        <tr>
            <td class="operator">Betson</td>
            <td class="numeric">3.40</td>
            <td class="numeric">3.40</td>
            <td class="numeric">1.30</td>
        </tr>
        </table>
      </dd>
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header">Goals Scored</a>
        <div id="bettson" class="content js-content">
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a class="small secondary half-width button">Cancel</a>
            <a class="small success button half-width js-login">Login</a>
        </div>
      </dd>
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header">First Scoring Team</a>
        <div id="nordicbet" class="content js-content">
            content
        </div>
      </dd>
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header">Half-time winner</a>
        <div id="nordicbet" class="content js-content">
            content
        </div>
      </dd>
    </dl>

</div>