<div class="events-all-filter">
    <ul class="options">
        <li class="item" id="userProfile"><div class="heading">Football</div><div class="count">(22)</div></li>
        <li class="item" id="changeClub"><div class="heading">Tenis</div><div class="count">(18)</div></li>
        <li class="item" id="userFavorites"><div class="heading">Rugby</div><div class="count">(15)</div></li>
        <li class="item" id="operatorsList"><div class="heading">American Football</div><div class="count">(22)</div></li>
        <li class="item" id="signOut"><div class="heading">Baseball</div><div class="count">(34)</div></li>
        <li class="item" id="signOut"><div class="heading">Australian Rules</div><div class="count">(27)</div></li>
        <li class="item" id="userFavorites"><div class="heading">Basketball</div><div class="count">(35)</div></li>
    </ul>
</div>