<div class="events-by-country-submenu">
	
	<div class="row large main-filter-title">
		<div class="columns small-6">Swedish Election</div>
		<div class="columns small-2"></div>
		<div class="columns small-2"></div>
		<div class="columns small-2"></div>
	</div>

	<div class="events-list">
		
		<div class="row small center game-title">
			Swedish Election - Winner
		</div>
		
		<% for(var j=0;j<10;j++){ %>
		
		<div class="event">
			<div class="row event-div-closed">
				<div class="teams single-team small columns small-6">
					<div class="team1">Stefan Löfven</div>
				</div>
				<div class="bet-type empty columns small-2">
				</div>
				<div class="bet-type columns small-2">
					<div class="value small">3.40</div>
					<div class="operator tiny">Betsson</div>
				</div>
				<div class="bet-type empty columns small-2">
				</div>
			</div>
		</div>
		
		<% } %>
		
	</div>

</div>

