<div class="event-details-live keep-screen-margin">

    <div class="vs">MFF - AIK</div>
    <div class="date small"><span class="live">Live</span> 34min (1st half)</div>
    <div class="score">2-0</div>

    <dl class="accordion" >
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header">Match Winner</a>
        <div id="first" class="content js-content">
            content
        </div>
      </dd>
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header">Goals Scored</a>
        <div id="second" class="content js-content">
            <dl class="inner">
                <dd class="inner-navigation js-inner-block">
                    <a class="inner-heading js-inner-header">0 <span class="numeric">0.00 <span class="mini">(2)</span></span></a>
                    <div id="0" class="content js-inner-content">
                    </div>
                </dd>
                <dd class="inner-navigation js-inner-block">
                    <a class="inner-heading js-inner-header">1 <span class="numeric">3.40 <span class="mini">Ladbrokes</span></span></a>
                    <div id="1" class="content js-inner-content">
                            <table>
                            <tr>
                                <td class="operator">Betsafe</td>
                                <td class="numeric">3.40</td>
                            </tr>
                            <tr>
                                <td class="operator">Unibet</td>
                                <td class="numeric">3.40</td>
                            </tr>
                            <tr>
                                <td class="operator">Ladbrokes</td>
                                <td class="numeric">3.40</td>
                            </tr>
                            </table>
                    </div>
                </dd>
                <dd class="inner-navigation js-inner-block">
                    <a class="heading js-inner-header">3 <span class="numeric">1.2 <span class="mini">Unibet</span></span></a>
                    <div id="2" class="content js-inner-content">
                        2
                    </div>
                </dd>
                <dd class="inner-navigation js-inner-block">
                    <a class="heading js-inner-header">3 0 <span class="numeric">0.00 <span class="mini">(1)</span></span></a>
                    <div id="3" class="content js-inner-content">
                        3
                    </div>
                </dd>
            </dl>
        </div>
      </dd>
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header">First Scoring Team</a>
        <div id="third" class="content js-content">
            content
        </div>
      </dd>
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header">Half-time winner</a>
        <div id="fourth" class="content js-content">
            content
        </div>
      </dd>
    </dl>

</div>



<!--
<dl class="inner">
    <dd class="inner-navigation js-inner-block">
        <a class="heading js-inner-header">inner omfg</a>
        <div id="0" class="content js-inner-content">
            0
        </div>
    </dd>
    <dd class="inner-navigation js-inner-block">
        <a class="heading js-inner-header">inner omfg2 </a>
        <div id="1" class="content js-inner-content">
            1
        </div>
    </dd>
    <dd class="inner-navigation js-inner-block">
        <a class="heading js-inner-header">inner omfg3 </a>
        <div id="2" class="content js-inner-content">
            2
        </div>
    </dd>
</dl>

-->