<div class="live-scores-submenu-filter">
	
	<div class="row large main-filter-title">
		<div class="columns small-6">Football</div>
		<div class="columns small-2">1</div>
		<div class="columns small-2">X</div>
		<div class="columns small-2">2</div>
	</div>

	<div class="events-list">
		
		<% for(var i=0;i<4;i++){ %>
		
		<div class="row small center game-title">
			Tuesday 2014-06-24 - <span>22:00</span> - Match Winner
		</div>
		
		<% for(var j=0;j<3;j++){ %>
		
		<div class="event">
			<div class="row event-div-closed">
				<div class="teams small columns small-6">
					<div class="team1">FC Barcelona</div>
					<div class="separator">-</div>
					<div class="team2">AC Milan</div>
				</div>
				<div class="bet-type columns small-2">
					<div class="value small">2.06</div>
					<div class="operator tiny">Bet365</div>
				</div>
				<div class="bet-type columns small-2">
					<div class="value small">3.40</div>
					<div class="operator tiny">Unibet</div>
				</div>
				<div class="bet-type columns small-2">
					<div class="value small">1.02</div>
					<div class="operator tiny">888</div>
				</div>
			</div>
		</div>
		
		<% } %>
		<% } %>
		
	</div>

</div>