<div class="main-menu-logged">

    <ul>
        <li>
            <div style="background-image: url('img/clubs/ifk.jpg');" class="team-logo-small"></div>
            <div class="team-name">Ten most played</div>
        </li>
        <li>
            <div style="background-image: url('img/clubs/hammarby.png');" class="team-logo-small"></div>
            <div class="team-name">Live scores</div>
        </li>
        <li>
            <div  style="background-image: url('img/clubs/malmo.png');" class="team-logo-small"></div>
            <div class="team-name">All games</div>
        </li>

        <li>
            <div  style="background-image: url('img/clubs/malmo.png');" class="team-logo-small"></div>
            <div class="team-name">Swedish edition</div>
        </li>
    </ul>

</div>





