<div class="main-menu-logged">

<div class="intro small"> Welcome Guest.<br> Here are some suggested bets based on your support of AIK FF</div>

    <ul>
        <li>
            <div style="background-image: url('img/main_menu/top10.jpg');" class="team-logo-small"></div>
            <div class="team-name">Ten most played</div>
        </li>
        <li>
            <div style="background-image: url('img/main_menu/live.jpg');" class="team-logo-small"></div>
            <div class="team-name">Live scores</div>
        </li>
        <li>
            <div  style="background-image: url('img/main_menu/all_games.jpg');" class="team-logo-small"></div>
            <div class="team-name">All games</div>
        </li>

        <li>
            <div  style="background-image: url('img/main_menu/elections.jpg');" class="team-logo-small"></div>
            <div class="team-name">Swedish election</div>
        </li>
    </ul>

</div>





