<div class="operator-connect keep-screen-margin">

	<div class="header">
		<img width="180px" class="operator-logo" src="{{logo.file}}" />
		<i class="fa {{statusIcon}}" style="line-height:{{logo.sizes.medium.height}}px"></i>
	</div>

    <p>{{firstParagraph}}</p>
    <a id="createAccountBtn" href="#" style="{{showCreateAccountBtn}}" class="medium success button full-width">Sure, let's do it!</a>
    <p>{{secondParagraph}}</p>

    <input id="operatorEmail" type="email" placeholder="{{i18n.Emailaddress}}" value="{{username}}" />
    <input id="operatorPassword" type="password" placeholder="{{i18n.Password}}" value="{{password}}"/>

    <a id="showHidePasswordBtn" style="{{showPasswordBtn}}" href="#" class="medium success button full-width">Show Password</a>
    <a id="connectOperatorBtn" style="{{showConnectAccountBtn}}" href="#" class="medium success button full-width">{{i18n.Connectaccount}}</a>

    <a href="javascript:window.history.back();" class="medium secondary button full-width">{{i18n.Goback}}</a>


</div>
