<div class="operators-list keep-screen-margin">
	
    <div class="header medium">
       {{i18n.Bettingoperators}}
   </div>
   <p class="small">
       {{i18n.currentstatusofbettingaccounts_txt}}
   </p>

   <ul class="fa-ul" id="operatorsList"></ul>

    <a href="#mainMenuLogged" class="medium success button full-width">{{i18n.Gotomainmenu}}</a><br/>
    
    <a style="display:{{showBackButton}};" href="javascript:window.history.back();" class="medium secondary button full-width">{{i18n.Goback}}</a>
    
</div>