<div class="operators-list">
    <ul class="intro">
        <li class="large operator"><div class="operator-name">Ladbrokes</div>
            <div class="switch">
              <input id="ladbrokes" type="checkbox">
              <label for="ladbrokes"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">Mr Green</div>
            <div class="switch">
              <input id="mrgreen" type="checkbox">
              <label for="mrgreen"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">888</div>
            <div class="switch">
              <input id="888" type="checkbox">
              <label for="888"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">Unibet</div>
            <div class="switch">
              <input id="unibet" type="checkbox">
              <label for="unibet"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">Bwin</div>
            <div class="switch">
              <input id="bwin" type="checkbox">
              <label for="bwin"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">Svenska Spiel</div>
            <div class="switch">
              <input id="svenska-spiel" type="checkbox">
              <label for="svenska-spiel"></label>
            </div>
        </li>
    </ul>
</div>