<div class="operators-list">

    <ul class="intro">
        <li class="large operator"><div class="operator-name">Ladbrokes</div>
            <div class="switch">
              <input id="betsafe" type="checkbox">
              <label for="betsafe"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">Mr Green</div>
            <div class="switch">
              <input id="bettson" type="checkbox">
              <label for="bettson"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">888</div>
            <div class="switch">
              <input id="nordicbet" type="checkbox">
              <label for="nordicbet"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">Unibet</div>
            <div class="switch">
              <input id="betsafe" type="checkbox">
              <label for="betsafe"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">Bwin</div>
            <div class="switch">
              <input id="bettson" type="checkbox">
              <label for="bettson"></label>
            </div>
        </li>
        <li class="large operator"><div class="operator-name">Svenska Spiel</div>
            <div class="switch">
              <input id="nordicbet" type="checkbox">
              <label for="nordicbet"></label>
            </div>
        </li>
    </ul>
</div>