<div class="operators-single-login keep-screen-margin">

    <p class="small">Do you have existing Accounts?<br>Use them as your supporter account</p>

    <dl class="accordion" >
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header"><img class="js-accordion-image" src="img/operators/betsafe.png" /><span class="label">Login</span></a>
        <div id="betsafe" class="content js-content">
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a class="small secondary half-width button">Cancel</a>
            <a class="small success button half-width js-login">Login</a>
        </div>
      </dd>
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header"><img class="js-accordion-image" src="img/operators/bettson.png" /><span class="label">Login</span></a>
        <div id="bettson" class="content js-content">
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a class="small secondary half-width button">Cancel</a>
            <a class="small success button half-width js-login">Login</a>
        </div>
      </dd>
      <dd class="accordion-navigation js-accordion-block">
        <a class="heading js-accordion-header"><img class="js-accordion-image" src="img/operators/nordicbet.png" /><span class="label">Login</span></a>
        <div id="nordicbet" class="content js-content">
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a class="small secondary half-width button">Cancel</a>
            <a class="small success button half-width js-login">Login</a>
        </div>
      </dd>
    </dl>

    <a href="#newAccountEnd" class="medium success button full-width">Go to Unified Login</a><br>
    <a href="#warningInfo" class="medium secondary full-width button">Go to Single Login</a><br>

</div>
