<div class="pick-club-confirm keep-screen-margin">
    <p>{{i18n.yousupport_txt}}</p>

    <div class="club">
    	<img src="{{logo.sizes.medium.file}}"/>
    	<div class="small club-name">{{name}}</div>
    	<div class="tiny sport">{{sport}}, {{borough}}</div>
    </div>

    <p class="small disclaimer">
    	{{i18n.youagree_txt}}
	</p>

    <a id="confirmClubBtn" href="#createNewAccount" class="medium success button full-width js-login">{{i18n.Confirm}}</a><br>
    <a href="#pickClub" class="medium secondary full-width button">{{i18n.pickanother_txt}}</a><br>
</div>


