<div class="pick-club-confirm keep-screen-margin">
    <p>You chose to support</p>

    <div class="club">

    </div>


    <p class="small disclaimer">By continuing, you agree to the <a class="link small" href="#clubDisclaimer">terms and conditions</a> and <a class="link small" href="#clubDisclaimer">privacy policy</a> to use this service</p>

    <a href="#createNewAccount" class="medium success button full-width js-login">Confirm</a><br>
    <a href="#pickClub" class="medium secondary full-width button">Pick another club</a><br>
</div>