<div class="pick-club">
	<p class="intro medium"> Find the club you wish to support and start donating to the club.</p>

	<input type="text" class="js-search" placeholder="Search" />

	<ul class="hide js-results">
		<li data-id="ifk">
			<div class="team-name">IFK Göteborg
			<div class="team-city">Fotboll, Göteborg</div></div>
			<div class="team-logo-small ifk"></div>
		</li>
		<li data-id="ifk">
			<div class="team-name">Liverpool
			<div class="team-city">Fotboll, Liverpool</div></div>
			<div class="team-logo-small liverpool"></div>
		</li>
		<li data-id="ifk">
			<div class="team-name">AIK FF
			<div class="team-city">Fotboll, Solna</div></div>
			<div class="team-logo-small ifk"></div>
		</li>
	</ul>

    <a href="#menuLogClear" class="medium secondary full-width button">Cancel</a>
</div>