<div class="select-operators">

    <p class="small">Choose which gambling company you want to create a new account at</p>
    <p class="small">If you already have an account, deselect the operator</p>

    <ul>
        <li class="small list-header">create</li>
        <li>
            <input type="checkbox">
            <img class="operator" src="img/operators/betsafe.png" />
            <div class="switch">
              <input id="betsafe" type="checkbox">
              <label for="betsafe"></label>
            </div>
        </li>
        <li>
            <input type="checkbox">
            <img class="operator" src="img/operators/bettson.png" />
            <div class="switch">
              <input id="bettson" type="checkbox">
              <label for="bettson"></label>
            </div>
        </li>
        <li>
            <input type="checkbox">
            <img class="operator" src="img/operators/nordicbet.png" />
            <div class="switch">
              <input id="nordicbet" type="checkbox">
              <label for="nordicbet"></label>
            </div>
        </li>
    </ul>

    <a class="medium success button full-width js-select-operator-ok">OK</a><br>
    <a href="#menuLogClear" class="medium secondary full-width button">Cancel</a>
</div>