<div class="sign-in keep-screen-margin">
    <div class="logo" />

    <input id="email" type="text" placeholder="{{i18n.Emailaddress}}" />
    <input id="password" type="password" placeholder="{{i18n.Password}}" />

    <a id="login-btn" href="#userSettings" class="medium success button full-width js-login">{{i18n.Signin}}</a><br>
    <a href="#menuLogClear" class="medium secondary full-width button">{{i18n.Cancel}}</a><br>

    <a href="#remindPassword" class="link link-bottom-page" href="">{{i18n.Forgotpassword}}</a>
</div>