<div class="unified-register keep-screen-margin">

    <div class="header small">
	    Unified Registration<br>
	    We use your social security number to try to fill out the form for you
    </div>
    
    <input id="pin" type="search" placeholder="Social Security Number" />

    <!-- <div class="clearfix">
	    <a href="#menuLogClear" class="medium secondary button half-width left">Cancel</a>
	    <a href="#operatorsSingleLogin" class="medium success button half-width right">OK</a>
    </div> -->

    <input id="firstName" type="text" class="tight" placeholder="First name" />
    <input id="lastName" type="text" class="tight" placeholder="Surname" />
    <select id="gender" class="tight">
    	<option value="M">Male</option>
    	<option value="F">Female</option>
    </select>
    <input id="mobileNumber" type="tel" class="tight" placeholder="Mobile Number" />
    <input id="street" type="text" class="tight" placeholder="Address" />
    <input id="zipCode" type="text" class="tight" placeholder="Zip Code" />
    <input id="city" type="text" class="tight" placeholder="City" />
    
    <div class="row birth-date">
    	<label class="tiny">Date of Birth:</label>
        <input id="year" type="text" class="tight year inline-input" placeholder="Year" />
	    <input id="month" type="text" class="tight month inline-input" placeholder="Month" />
        <input id="day" type="text" class="tight day inline-input" placeholder="Day" />
	</div>
	
    <a id="createButton" href="#accountsActivation" class="medium success button full-width">Create</a>
</div>