<div class="unified-login">

    <div class="header small">
    Unified Registration<br>
    We use your social security number to try to fill out the form for you
    </div>
    <input type="text" placeholder="Social Security Number" />

    <div class="clearfix">
    <a href="#menuLogClear" class="medium secondary button half-width left">Cancel</a>
    <a href="#operatorSingleLogin" class="medium success button half-width right">OK</a>
    </div>

    <input type="text" disabled class="tight disabled" placeholder="Username" />
    <input type="text" disabled class="tight disabled" placeholder="First name" />
    <input type="text" disabled class="tight disabled" placeholder="Surname" />
    <input type="text" disabled class="tight disabled" placeholder="Address" />
    <input type="text" disabled class="tight disabled" placeholder="Zip Code" />
    <input type="text" disabled class="tight disabled" placeholder="City" />
    <input type="text" disabled class="tight disabled one-third-width inline-input" placeholder="Year" />
    <input type="text" disabled class="tight disabled one-third-width inline-input" placeholder="Month" />
    <input type="text" disabled class="tight disabled one-third-width inline-input" placeholder="Day" />
</div>