<div class="user-bets">
	<div class="title large">User Bets (2)</div>
	<div class="bets">
		<div class="bet">
			<div class="block game-data small">
				2014-03-05 18:00 - Match winner (1 X 2)
			</div>
			<div class="block game-match small">
				Chelsea - Arsenal
			</div>
			<div class="block">
				<div class="small-6 columns operator medium">Operator</div>
				<div class="small-6 columns bets-options">
					<div class="left small bet-option selected">2.05</div>
					<div class="left small bet-option">3.40</div>
					<div class="left small bet-option">1.03</div>
				</div>
			</div>
			<div class="block">
				<div class="small-6 columns player-bet">
					<div class="left small">You bet:</div>
					<div class="right medium">€50</div>
				</div>
				<div class="small-6 columns potential-win">
					<div class="left small">Potential win:</div>
					<div class="right medium">€2500</div>
				</div>
			</div>
			<div class="block donation small">
				<span class="text">Donation recipient:</span>
				<span class="club">Hammarby Fotboll ff</span>
			</div>
		</div>
		
		
		
		
		<div class="bet">
			<div class="block game-data small">
				2014-03-05 18:00 - Match winner (1 X 2)
			</div>
			<div class="block game-match small">
				Chelsea - Arsenal
			</div>
			<div class="block">
				<div class="small-6 columns operator medium">Operator</div>
				<div class="small-6 columns bets-options">
					<div class="left small bet-option selected">2.05</div>
					<div class="left small bet-option">3.40</div>
					<div class="left small bet-option">1.03</div>
				</div>
			</div>
			<div class="block">
				<div class="small-6 columns player-bet">
					<div class="left small">You bet:</div>
					<div class="right medium">€50</div>
				</div>
				<div class="small-6 columns potential-win">
					<div class="left small">Potential win:</div>
					<div class="right medium">€2500</div>
				</div>
			</div>
			<div class="block donation small">
				<span class="text">Donation recipient:</span>
				<span class="club">Hammarby Fotboll ff</span>
			</div>
		</div>
	</div>
</div>