<div class="user-statistics keep-screen-margin">
	<div class="title medium">
		<div>Donations to</div>
		<div class="club">AIK FF</div>
		<div>via Supporter.se</div>
	</div>
	<div class="user-history-chart">
		<img src="img/chart.png" />
	</div>
	<div class="user-history-list small">
		<div class="row">
			<div class="columns small-6 blue">Donated By You</div>
			<div class="columns small-6 yellow">Donated By All</div>
		</div>
		<div class="row green">
			<div class="columns small-6">€120</div>
			<div class="columns small-6">€126,621</div>
		</div>
	</div>
	<div class="all-users-history-list row small">
		<div class="columns small-6">
			<div class="row">
				<div class="left">Betsson</div>
				<div class="right">€85</div>
			</div>
			<div class="row">
				<div class="left">Betsafe</div>
				<div class="right">€0</div>
			</div>
			<div class="row">
				<div class="left">Nordicbet</div>
				<div class="right">€35</div>
			</div>
		</div>
		<div class="columns small-6">
			<div class="row">
				<div class="left">Betsson</div>
				<div class="right">€12,085</div>
			</div>
			<div class="row">
				<div class="left">Betsafe</div>
				<div class="right">€15,010</div>
			</div>
			<div class="row">
				<div class="left">Nordicbet</div>
				<div class="right">€99,520</div>
			</div>
		</div>
	</div>
</div>