<div class="user-wallet">
	<div class="row title">
		<div class="columns small-4">Operator</div>
		<div class="columns small-4">Balance</div>
		<div class="columns small-4">Deposit</div>
	</div>
	<div class="wallet-list">
		<div class="row medium wallet-item">
			<div class="columns small-4 operator">Betsafe</div>
			<div class="columns small-4 balance">770€</div>
			<div class="columns small-4 deposit">
				<a href="#" class="medium secondary button">Register</a>
			</div>
		</div>
		<div class="row medium wallet-item">
			<div class="columns small-4 operator">Betson</div>
			<div class="columns small-4 balance">80€</div>
			<div class="columns small-4 deposit">
				<a href="#" class="medium secondary button">Register</a>
			</div>
		</div>
		<div class="row medium wallet-item">
			<div class="columns small-4 operator">888</div>
			<div class="columns small-4 balance">200€</div>
			<div class="columns small-4 deposit">
				<a href="#" class="medium secondary button">Register</a>
			</div>
		</div>
		<div class="row medium wallet-item">
			<div class="columns small-4 operator">Nordicbet</div>
			<div class="columns small-4 balance">10€</div>
			<div class="columns small-4 deposit">
				<a href="#" class="medium secondary button">Register</a>
			</div>
		</div>
	</div>
</div>