<div class="user-settings">
	<div class="account_details small">
		<div class="left">
			Account
		</div>
		<div class="right">
			sergio@betteranapp.com
		</div>
	</div>
	
	<div class="options">
		<div id="userProfile">Account Profile</div>
		<div id="changeClub">Change Club</div>
		<div id="userFavorites">Favorites List</div>
		<div id="operatorsList">Betting Operators</div>
		<div id="signOut">Sign Out</div>
	</div>
	
	<div id="logoutConfirmModal" class="reveal-modal" data-reveal>
	  <p class="medium title">Are you sure you want to logout?</p>
	  <div class="buttons small">
	  	<div id="closeModal" class="columns small-6 cancel-btn">Cancel</div>
	  	<div id="menuLogClear" class="columns small-6 ok-btn">OK</div>
	  </div>
	</div>
	
	<div class="modal-bg">
	</div>
	
</div>