<div class="user-settings">
	<ul class="options">
		<li class="item" id="userProfile">Account Profile</li>
		<li class="item" id="changeClub">Change Club</li>
		<li class="item" id="userFavorites">Favorites List</li>
		<li class="item" id="operatorsList">Betting Operators</li>
		<li class="item" id="signOut">Sign Out</li>
	</ul>

	<div id="logoutConfirmModal" class="reveal-modal" data-reveal>
	  <p class="medium title">Are you sure you want to logout?</p>
	  <div class="buttons small">
	  	<div id="closeModal" class="columns small-6 cancel-btn">Cancel</div>
	  	<div id="menuLogClear" class="columns small-6 ok-btn">OK</div>
	  </div>
	</div>

	<div class="modal-bg">
	</div>

</div>