.accounts-activation {
    .operator {
      clear: both;
      overflow: hidden;
      margin-bottom: 20px;
      .switch {
        float: left;
        margin-right: 20px;
      }
      .operator-logo {
        float: left;
      }
      .chevron {
        font-size: 32px;
        line-height: 26px;
        color: blue;
        float: right;
      }
    }
    
    .footer {
      margin-bottom: 20px;
    }
    
}