.delete-user-account-confirm {
   .text {
    text-align: left;
    margin-top: 20%;
    margin-bottom: 30px;
    text-align: left;

    p {
        font-family: 'Roboto', sans-serif !important;
        line-height: 23px !important;
    }
  }
}