.large {
    font-size: @text-large!important;
    line-height: @line-height-large!important;
}
.medium {
    font-size: @text-medium!important;
    line-height: @line-height-medium!important;
}
.small {
    font-size: @text-small!important;
    line-height: @line-height-small!important;
}
.tiny {
    font-size: @text-tiny!important;
    line-height: @line-height-tiny!important;
}

.body-not-logged {
    background-color: @not-logged-color;
    text-shadow: 1px 1px 1px @shadow;
    color: @white;
}

#container {
    padding: 30px 15px 15px 15px;
    text-align: center;
}

.link {
    text-decoration: underline;
    display: inline-block;
    color: @secondary-color;

    &-inline {
        color: @white;
    }

    &-bottom-page {
        margin-top: 15px;
    }
}

.link:visited{
    color: @secondary-color!important;
}

.full-width {
    width: 100%;
}
.half-width {
    width: 49%;
}
.one-third-width {
    width: 31%!important;
}

.logo {
    text-align: center;
    margin: 15px auto;
    height: 130px;
    width: 130px;
    background: url('../img/logo.png') center center no-repeat;
    background-size: 130px 130px;
}

.logo-clear {
    margin: 60px auto 120px auto;
}

.header {
    padding: 0px 0px 40px 0px;
}



