.operators-list {

    .intro {
        text-align: center;
        font-family: 'Roboto', sans-serif!important;
        margin-top: 19px;
    }

    li {
        color: @secondary-color;
        font-family: 'RobotoThin', sans-serif;
        list-style: none;
        line-height: 25px;
        padding: 1px 0 1px 10px;
        text-align: left;
        border-bottom: 1px solid @disabled;
        border-top: 1px solid @disabled;
        text-shadow: 1px 1px 1px @disabled;
    }

    ul {
        margin: 0 -15px 0 -15px;
        padding: 0;
    }

    .operator-name {
        width: 60%;
        display: inline-block;
        text-align: center;
        line-height: 55px;
    }

    .switch {
        width: 30%;
        text-align: right;
        vertical-align: middle;
        display: inline-block;
    }

}