.operators-list {

    .operator {
      clear: both;
      overflow: hidden;
      margin-bottom: 20px;
      i.fa-li {
        position: relative;
      }
      .operator-data {
        float: right;
        overflow: hidden;
        .operator-logo {
          float: left;
        }
        .chevron {
          font-size: 22px;
          line-height: 23px;
          color: blue;
          float: right;
          margin-left: 30px;
        }
      }
    }

}