.pick-club-confirm {

    .link {
        color: @white;
    }

    .club {
        text-align: center;
        margin: 20px auto;
        width: 180px;
        height: 230px;
        background-size: 180px 230px;
    }

    .disclaimer {
        text-align: left;
    }

}