.pick-club {
    text-align: left;
    @logo-side: 45px;
    @logo-padded-side: 50px;
    input, input:focus {
        background: url("../img/search.png");
        background-repeat: no-repeat;
        padding-left: 45px;
        background-size: 35px 35px;
    }

    .intro {
        text-align: center;
    }

    .team-logo-small {
        float: right;
        height: @logo-padded-side;
        margin-right: 5px;
        margin-top: 3px;
    }

    .team-name {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .team-city {
        margin: 0;
        padding: 0;
        line-height: 5px;
        font-size: 10px;
    }

    li {
        list-style: none;
        line-height: 38px;
        padding-left: 10px;
        border-bottom: 1px solid black;
    }

    li:last-child {
        border-bottom: none;
    }

    ul {
        color: black;
        text-shadow: none;
        font-family: 'Roboto', sans-serif!important;
        margin-left: 0px;
        background: white;
    }
}