.pick-club-confirm {

    .link {
        color: @white;
    }

    .link:visited {
        color: @white!important;
    }

    .club {
        text-align: center;
        margin: 20px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .disclaimer {
        text-align: left;
    }

}