.pick-club-confirm {

    .link {
        color: @white;
    }

    .link:visited {
        color: @white!important;
    }

    .club{
      background-color: white;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      padding: 20px;
      padding-bottom: 5px;
      img {
          height: 200px;
      }
      .club-name {
        color: black;
        margin-bottom: 2px;
        margin-top: 10px;
      }
      .sport {
        color: black;
      }
    }

    .disclaimer {
        text-align: left;
    }

}