.unified-register {
  
  .birth-date {
    label {
      width: 35%;
      display: inline;
    }
    .day {
      width: 20%;
    }
    .month {
      width: 20%;
    }
    .year {
      width: 31%;
    }
  }

}