@not-logged-color:    #6daae5;
@secondary-color:     #4b84b2;  // secondary buttons, links
@primary-color:       #60a242;  // primary buttons
@white:               #ffffff;
@disabled:            #cccccc;