@not-logged-color:  rgb(69, 176, 230);//#6daae5;
@secondary-color:   rgb(0, 115, 153);//#4b84b2;  // secondary buttons, links
@primary-color:     rgb(21, 166, 63);//#60a242;  // primary buttons
@white:             rgb(230, 230, 230);
@disabled:          rgb(128, 128, 128);//#cccccc;
@shadow:            @secondary-color;
@text-large:        1.2rem;
@text-medium:       18px;
@text-small:        15px;