<div class="operator" id="{{id}}">
    <div class="switch round">
      <input id="operator-{{id}}" data-name="{{name}}" data-id="{{id}}" type="checkbox" checked="checked">
      <label for="operator-{{id}}"></label>
    </div>
    <div class="operator-data">
    	<img alt="{{name}}" class="operator-logo" style="width:{{logo.sizes.thumbnail.width}}px;height:{{logo.sizes.thumbnail.height}}px;" src="{{logo.sizes.thumbnail.file}}" />
    	<label class="chevron tandc">terms & conditions ⟩</label>
	</div>
</div>