<div id="iovationtoken" />
<div class="off-canvas-wrap js-navbar" data-offcanvas>
	<div class="inner-wrap">
		<nav id="header" class="top-bar" data-topbar>
			<!--
			<section class="left-small top-bar-section">
				<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
			</section>
			-->
			
			<section class="title-area top-bar-section">
			    <h1 class="title">Supporter.se</h1>
		    </section>
			<!--
			<section class="right-small">
				<img class="search-icon" src="img/search.png"/>
			</section>
			-->
		</nav>

		<aside class="left-off-canvas-menu">
			<ul class="off-canvas-list">
				<li>
					<div class="sidebar-user-profile row">
						<img class="sidebar-club-photo" src="img/clubs/ifk.jpg" />
						<div class="sidebar-user-info">
							<div class="sidebar-user-name large">Guest User</div>
							<div class="sidebar-user-email tiny">sergio@betteranapp.com</div>
						</div>
					</div>
				</li>
				<li>
					<h1 class="sidebar-logo">supporter.se</h1>
				</li>
				<li class="sidebar-option">
					<a href="#mainMenuLogged">Home / Suggested Games</a>
				</li>
				<li class="sidebar-option">
					<a href="#userStatistics">My Page / Statistics</a>
				</li>
				<li class="sidebar-option">
					<a href="#eventsAllFilter">Games</a>
				</li>
				<li class="sidebar-option">
					<a href="#eventsLiveScoresFilter">Live Games</a>
				</li>
				<li class="sidebar-option">
					<a href="#userBets">Bets</a>
				</li>
				<li class="sidebar-option">
					<a href="#userWallet">My Wallet</a>
				</li>
				<li class="sidebar-second-option">
					<a href="#userSettings">Settings</a>
				</li>
				<li class="sidebar-second-option">
					<a href="#about">About Supporter.se</a>
				</li>
			</ul>
		</aside>

		<section id="megacontainer" class="main-section">
			<div id="container">
				Empty View
				<a style="margin-top: 100px;" href="#menuLogClear" class="medium success button full-width">Start</a>
			</div>
			<!--
			<div id="footer">
				<img class="left back-icon" src="img/back_big.png"/>
				<img class="middle home-icon" src="img/home.png"/>
				<img class="right options-icon" src="img/options.png"/>
			</div>
			-->
		</section>
		<a class="exit-off-canvas"></a>
	</div>
</div>
