<div id="iovationtoken" />
<div class="off-canvas-wrap js-navbar" data-offcanvas>
	<div class="inner-wrap">
		<nav class="top-bar" data-topbar>
			
			<section class="left-small top-bar-section">
				<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
			</section>
			
			<section class="title-area top-bar-section">
			    <h1 class="title">Supporter.se</h1>
		    </section>

			<section class="right-small">
				<img class="search-icon" src="../img/search.png"/>
			</section>
		</nav>

		<aside class="left-off-canvas-menu">
			<ul class="off-canvas-list">
				<li>
					<label>supporter.se</label>
				</li>
				<li>
					<a href="#mainMenuLogged">Home / Suggested Games</a>
				</li>
				<li>
					<a href="#userStatistics">My Page / Statistics</a>
				</li>
				<li>
					<a href="#eventsAllFilter">Games</a>
				</li>
				<li>
					<a href="#eventsLiveScoresFilter">Live Games</a>
				</li>
				<li>
					<a href="#userBets">Bets</a>
				</li>
				<li>
					<a href="#userWallet">My Wallet</a>
				</li>
				<li>
					<a href="#userSettings">Settings</a>
				</li>
				<li>
					<a href="#about">About Supporter.se</a>
				</li>
			</ul>
		</aside>

		<section class="main-section">
			<div id="container">
				Empty View
				<a style="margin-top: 100px;" href="#menuLogClear" class="medium success button full-width">Start</a>
			</div>
		</section>
		<a class="exit-off-canvas"></a>
	</div>
</div>