<div class="pick-club">
	<div class="row">
		<span class="text_header"> Find the club you wish to support and start donating to the club.</span>
	</div>
	<div class="row">
		<div class="small-12 columns search">
			<input type="text" placeholder="Search..." />
		</div>
	</div>
	<div class="row">
		<ul class="clubs-list">
			
			<div class="row club">
				<div class="small-8 columns left">
					<div class="club-name">Malmo FF</div>
					<span class="sport">Fotboll</span>,
					<span class="city">Malmo</span>
				</div>
				<div class="small-4 columns right">
					<img src="img/clubs/ACM_club.jpg" />
				</div>
			</div>
			
			<div class="row club">
				<div class="small-8 columns left">
					<div class="club-name">Chelsea FC</div>
					<span class="sport">Fotboll</span>,
					<span class="city">London</span>
				</div>
				<div class="small-4 columns right">
					<img src="img/clubs/chelsea_club.jpg" />
				</div>
			</div>
			
			<div class="row club">
				<div class="small-8 columns left">
					<div class="club-name">IFK Goteborg</div>
					<span class="sport">Fotboll</span>,
					<span class="city">Goteborg</span>
				</div>
				<div class="small-4 columns right">
					<img src="img/clubs/IFK_club.jpg" />
				</div>
			</div>
			
		</ul>
		
		<a href="#" class="button">CANCEL</a>
		
	</div>
</div>