<div class="pick-club">
	<div class="row">
		<div class="small-12">
			<div class="text_header"> Find the club you wish to support and start donating to the club.</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns search">
			<input type="text" placeholder="Search..." />
		</div>
	</div>
	<div class="row club">
		<div class="small-8 columns">
			<div class="club-name">Malmo FF</div>
			<div class="sport">Fotboll, Malmo</div>
		</div>
		<div class="small-4 columns">
			<img src="img/clubs/ACM_club.jpg" />
		</div>
	</div>
	<div class="row club">
		<div class="small-8 columns">
			<div class="club-name">Chelsea FC</div>
			<div class="sport">Fotboll, London</div>
		</div>
		<div class="small-4 columns">
			<img src="img/clubs/chelsea_club.jpg" />
		</div>
	</div>
	<div class="row club">
		<div class="small-8 columns">
			<div class="club-name">IFK Goteborg</div>
			<div class="sport">Fotboll, Goteborg</div>
		</div>
		<div class="small-4 columns">
			<img src="img/clubs/IFK_club.jpg" />
		</div>
	</div>
    <a href="#menuLogClear" class="medium secondary full-width button">Cancel</a><br>
</div>