<div class="unified-register">

    <div class="header">
    Unified Registration<br>
    We use your social security number to try to fill out the form for you
    </div>
        <input type="text" placeholder="Social Security Number" />

        <div class="clearfix">
        <a href="#menuLogClear" class="medium secondary button half-width left">Cancel</a>
        <a href="#operatorsSingleLogIn" class="medium success button half-width right">OK</a>
        </div>

        <input type="text" disabled class="tight disabled" placeholder="Username" />
        <input type="text" disabled class="tight disabled" placeholder="First name" />
        <input type="text" disabled class="tight disabled" placeholder="Surname" />
        <select disabled class="tight disabled" >
          <option value="husker">Gender</option>
          <option value="starbuck">Male</option>
          <option value="hotdog">Female</option>
          <option value="apollo">Not specified</option>
        </select>
        <input type="text" disabled class="tight disabled" placeholder="Address" />
        <input type="text" disabled class="tight disabled" placeholder="Zip Code" />
        <input type="text" disabled class="tight disabled" placeholder="City" />
        <input type="text" disabled class="tight disabled one-third-width inline-input" placeholder="Year" />
        <input type="text" disabled class="tight disabled one-third-width inline-input" placeholder="Month" />
        <input type="text" disabled class="tight disabled one-third-width inline-input" placeholder="Day" />
</div>